<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div id="app" class="container">
        <h1>
            <button @click="purge">全て削除する</button>
            本日のTodoリスト

            <span class="info">({{remaining}}/ {{todos.length}})</span>
        </h1>
        <ul>
            <li v-for="(todo, index) in todos">
                {{index + 1}}.
                <span v-bind:class="{active : todo.isDone}">
                    <input type="checkbox" v-model="todo.isDone"> {{todo.title}}
                </span>

                <span @click="deleteItem(index)" class="delete">[削除]</span>
            </li>
            <li v-show="!todos.length">表示するものがありません</li>
        </ul>

        <div class="input">
            <form @submit="addItem">

               <span><input type="text" v-model="newItem"></span>
               <span><input type="submit"></span>

            </form>
        </div>

       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>

</body>

</html>